<%# Navbar %>
<div class='nav-bar-size'>
      <div class='nav-container'>
          <div class='nav-logo'>
              <p style='margin: 0; font-weight: bold; color: #ffffff'><%= link_to image_tag('J.png', height: 50, width: 50, style: 'border-radius: 50%'), root_path, style: 'margin-right: 10px' %> Joel Velis</p>
          </div>
          <div class='nav-options'>
              <ul class='nav-list'>
                  <li><%= link_to 'About', root_path %></li>
                  <li><%= link_to 'Portfolio', '#portfolio' %></li>
                  <li><%= link_to 'Hire Joel', inquiries_path %></li>
              </ul>
          </div>
      </div>
      <div class='mobile-nav'>
          <div class='nav-container-mobile'>
              <div class='nav-logo'>
                  <p style='margin: 0; color: #ffffff''><%= link_to image_tag('J.png', height: 50, width: 50, style: 'border-radius: 50%'), root_path %> Joel Velis</p>
              </div>
              <a href="javascript:void(0);" style='color: black; font-size: 24px' class="icon" onclick="navBar()">
                  <i class="fa fa-bars" style='color: #ffffff'></i>
              </a>
          </div>
          <div class='nav-options'>
              <ul class='nav-list-mobile'>
                  <li><%= link_to 'About', root_path %></li>
                  <li><%= link_to 'Portfolio', root_path %></li>
                  <li><%= link_to 'Hire Joel', inquiries_path %></li>
              </ul>
          </div>
      </div>
</div>

<script>
    
</script>