
<div class='inquiry-form'>
    <%= simple_form_for(@inquiry) do |f| %>
        <h1 style='text-align: center'>Let's work together!</h1>
        <br>
        <p style='font-weight: bold'>Please complete the form below to inquire about working together. <br> General messages may also be sent using the below form.</p>
        <br>
        <p><%= f.input :name, label: 'Name:'%></p> 
        <p><%= f.input :email, label: 'Email:'%></p>
        <p><%= f.input :phone, label: 'Phone:' %></p>
        <p><%= f.input :website, label: 'Current website:' %></p>
        <p><%= f.input :budget, label: 'Budget:' %></p>
        <p><%= f.input :description, as: :text, label: 'Description:', input_html: { style: 'height: 50vh; width: 100%'} %></p>
        <%= f.submit 'Inquire', class: 'btn btn-primary', style: 'margin-top: 10px; width: 100px;'%>
    <% end %>
</div>

